.form input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
    left:0;
}
.add-photo-btn{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:left;
    color:#fff;
    text-indent:15px;
    display:block;
    width:197px;
    height:31px;
    font-size:18px;
    line-height:30px;
    float:left;
    margin-top:-55px;
}
input[type="text"]{
    float:left;
}