.mce-container,.mce-container *,.mce-widget,.mce-widget *,.mce-reset{margin:0;padding:0;border:0;outline:0;vertical-align:top;background:0 0;text-decoration:none;color:#333;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;text-shadow:none;float:none;position:static;width:auto;height:auto;white-space:nowrap;cursor:inherit;-webkit-tap-highlight-color:transparent;line-height:normal;font-weight:400;text-align:left;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;direction:ltr;max-width:none}
.mce-widget button{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.mce-container [unselectable]{-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}
.mce-fade{opacity:0;-webkit-transition:opacity .15s linear;transition:opacity .15s linear}
.mce-fade.mce-in{opacity:1}
.mce-tinymce{visibility:inherit!important;position:relative}
.mce-fullscreen{border:0;padding:0;margin:0;overflow:hidden;height:100%;z-index:100}
div.mce-fullscreen{position:fixed;top:0;left:0;width:100%;height:auto}
.mce-tinymce{display:block;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.mce-wordcount{position:absolute;top:0;right:0;padding:8px}
div.mce-edit-area{background:#FFF;filter:none}
.mce-statusbar{position:relative}
.mce-statusbar .mce-container-body{position:relative}
.mce-fullscreen .mce-resizehandle{display:none}
.mce-charmap{border-collapse:collapse}
.mce-charmap td{cursor:default;border:1px solid #9e9e9e;width:20px;height:20px;line-height:20px;text-align:center;vertical-align:middle;padding:2px}
.mce-charmap td div{text-align:center}
.mce-charmap td:hover{background:#d9d9d9}
.mce-grid td.mce-grid-cell div{border:1px solid #d6d6d6;width:15px;height:15px;margin:0;cursor:pointer}
.mce-grid td.mce-grid-cell div:focus{border-color:#a1a1a1}
.mce-grid td.mce-grid-cell div[disabled]{cursor:not-allowed}
.mce-grid{border-spacing:2px;border-collapse:separate}
.mce-grid a{display:block;border:1px solid transparent}
.mce-grid a:hover,.mce-grid a:focus{border-color:#a1a1a1}
.mce-grid-border{margin:0 4px 0 4px}
.mce-grid-border a{border-color:#d6d6d6;width:13px;height:13px}
.mce-grid-border a:hover,.mce-grid-border a.mce-active{border-color:#a1a1a1;background:#c8def4}
.mce-text-center{text-align:center}
div.mce-tinymce-inline{width:100%;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.mce-colorbtn-trans div{text-align:center;vertical-align:middle;font-weight:700;font-size:20px;line-height:16px;color:#707070}
.mce-toolbar-grp{padding-bottom:2px}
.mce-toolbar-grp .mce-flow-layout-item{margin-bottom:0}
.mce-rtl .mce-wordcount{left:0;right:auto}
.mce-container,.mce-container-body{display:block}
.mce-autoscroll{overflow:hidden}
.mce-scrollbar{position:absolute;width:7px;height:100%;top:2px;right:2px;opacity:.4;filter:alpha(opacity=40);zoom:1}
.mce-scrollbar-h{top:auto;right:auto;left:2px;bottom:2px;width:100%;height:7px}
.mce-scrollbar-thumb{position:absolute;background-color:#000;border:1px solid #888;border-color:rgba(85,85,85,.6);width:5px;height:100%;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}
.mce-scrollbar-h .mce-scrollbar-thumb{width:100%;height:5px}
.mce-scrollbar:hover,.mce-scrollbar.mce-active{background-color:#AAA;opacity:.6;filter:alpha(opacity=60);zoom:1;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}
.mce-scroll{position:relative}
.mce-panel{border:0 solid #9e9e9e;background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#fdfdfd,#ddd);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#ddd));background-image:-webkit-linear-gradient(top,#fdfdfd,#ddd);background-image:-o-linear-gradient(top,#fdfdfd,#ddd);background-image:linear-gradient(to bottom,#fdfdfd,#ddd);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffdddddd', GradientType=0);zoom:1}
.mce-floatpanel{position:absolute;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2)}
.mce-floatpanel.mce-fixed{position:fixed}
.mce-floatpanel .mce-arrow,.mce-floatpanel .mce-arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.mce-floatpanel .mce-arrow{border-width:11px}
.mce-floatpanel .mce-arrow:after{border-width:10px;content:""}
.mce-floatpanel.mce-popover{filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background:0 0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);top:0;left:0;background:#fff;border:1px solid #9e9e9e;border:1px solid rgba(0,0,0,.25)}
.mce-floatpanel.mce-popover.mce-bottom{margin-top:10px;}
.mce-floatpanel.mce-popover.mce-bottom>.mce-arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#9e9e9e;border-bottom-color:rgba(0,0,0,.25);top:-11px}
.mce-floatpanel.mce-popover.mce-bottom>.mce-arrow:after{top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#fff}
.mce-floatpanel.mce-popover.mce-bottom.mce-start{margin-left:-22px}
.mce-floatpanel.mce-popover.mce-bottom.mce-start>.mce-arrow{left:20px}
.mce-floatpanel.mce-popover.mce-bottom.mce-end{margin-left:22px}
.mce-floatpanel.mce-popover.mce-bottom.mce-end>.mce-arrow{right:10px;left:auto}
.mce-fullscreen{border:0;padding:0;margin:0;overflow:hidden;background:#fff;height:100%}
div.mce-fullscreen{position:fixed;top:0;left:0}
#mce-modal-block{opacity:0;filter:alpha(opacity=0);zoom:1;position:fixed;left:0;top:0;width:100%;height:100%;background:#000}
#mce-modal-block.mce-in{opacity:.3;filter:alpha(opacity=30);zoom:1}
.mce-window-move{cursor:move}
.mce-window{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,.3);box-shadow:0 3px 7px rgba(0,0,0,.3);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background:0 0;background:#fff;position:fixed;top:0;left:0;opacity:0;-webkit-transition:opacity 150ms ease-in;transition:opacity 150ms ease-in}
.mce-window.mce-in{opacity:1}
.mce-window-head{padding:9px 15px;border-bottom:1px solid #c5c5c5;position:relative}
.mce-window-head .mce-close{position:absolute;right:15px;top:9px;font-size:20px;font-weight:700;line-height:20px;color:#858585;cursor:pointer;height:20px;overflow:hidden}
.mce-close:hover{color:#adadad}
.mce-window-head .mce-title{line-height:20px;font-size:20px;font-weight:700;text-rendering:optimizelegibility;padding-right:10px}
.mce-window .mce-container-body{display:block}
.mce-foot{display:block;background-color:#fff;border-top:1px solid #c5c5c5;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px}
.mce-window-head .mce-dragh{position:absolute;top:0;left:0;cursor:move;width:90%;height:100%}
.mce-window iframe{width:100%;height:100%}
.mce-window.mce-fullscreen,.mce-window.mce-fullscreen .mce-foot{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.mce-rtl .mce-window-head .mce-close{position:absolute;right:auto;left:15px}
.mce-rtl .mce-window-head .mce-dragh{left:auto;right:0}
.mce-rtl .mce-window-head .mce-title{direction:rtl;text-align:right}
.mce-abs-layout{position:relative}
body .mce-abs-layout-item,.mce-abs-end{position:absolute}
.mce-abs-end{width:1px;height:1px}
.mce-container-body.mce-abs-layout{overflow:hidden}
.mce-tooltip{position:absolute;padding:5px;opacity:.8;filter:alpha(opacity=80);zoom:1}
.mce-tooltip-inner{font-size:11px;background-color:#000;color:#fff;max-width:200px;padding:5px 8px 4px 8px;text-align:center;white-space:normal}
.mce-tooltip-inner{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.mce-tooltip-inner{-webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000}
.mce-tooltip-arrow{position:absolute;width:0;height:0;line-height:0;border:5px dashed #000}
.mce-tooltip-arrow-n{border-bottom-color:#000}
.mce-tooltip-arrow-s{border-top-color:#000}
.mce-tooltip-arrow-e{border-left-color:#000}
.mce-tooltip-arrow-w{border-right-color:#000}
.mce-tooltip-nw,.mce-tooltip-sw{margin-left:-14px}
.mce-tooltip-n .mce-tooltip-arrow{top:0;left:50%;margin-left:-5px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-nw .mce-tooltip-arrow{top:0;left:10px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-ne .mce-tooltip-arrow{top:0;right:10px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-s .mce-tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-sw .mce-tooltip-arrow{bottom:0;left:10px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-se .mce-tooltip-arrow{bottom:0;right:10px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-e .mce-tooltip-arrow{right:0;top:50%;margin-top:-5px;border-left-style:solid;border-right:none;border-top-color:transparent;border-bottom-color:transparent}
.mce-tooltip-w .mce-tooltip-arrow{left:0;top:50%;margin-top:-5px;border-right-style:solid;border-left:none;border-top-color:transparent;border-bottom-color:transparent}
.mce-btn{border:1px solid #b1b1b1;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25) rgba(0,0,0,.25);position:relative;text-shadow:0 1px 1px rgba(255,255,255,.75);display:inline-block;;;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#fff,#d9d9d9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#d9d9d9));background-image:-webkit-linear-gradient(top,#fff,#d9d9d9);background-image:-o-linear-gradient(top,#fff,#d9d9d9);background-image:linear-gradient(to bottom,#fff,#d9d9d9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd9d9d9', GradientType=0);zoom:1}
.mce-btn:hover,.mce-btn:focus{color:#333;background-color:#e3e3e3;background-image:-moz-linear-gradient(top,#f2f2f2,#ccc);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#ccc));background-image:-webkit-linear-gradient(top,#f2f2f2,#ccc);background-image:-o-linear-gradient(top,#f2f2f2,#ccc);background-image:linear-gradient(to bottom,#f2f2f2,#ccc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffcccccc', GradientType=0);zoom:1}
.mce-btn.mce-disabled button,.mce-btn.mce-disabled:hover button{cursor:default;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;opacity:.4;filter:alpha(opacity=40);zoom:1}
.mce-btn.mce-active,.mce-btn.mce-active:hover{background-color:#d6d6d6;background-image:-moz-linear-gradient(top,#e6e6e6,silver);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e6e6),to(silver));background-image:-webkit-linear-gradient(top,#e6e6e6,silver);background-image:-o-linear-gradient(top,#e6e6e6,silver);background-image:linear-gradient(to bottom,#e6e6e6,silver);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffc0c0c0', GradientType=0);zoom:1;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)}
.mce-btn:active{background-color:#d6d6d6;background-image:-moz-linear-gradient(top,#e6e6e6,silver);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e6e6),to(silver));background-image:-webkit-linear-gradient(top,#e6e6e6,silver);background-image:-o-linear-gradient(top,#e6e6e6,silver);background-image:linear-gradient(to bottom,#e6e6e6,silver);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffc0c0c0', GradientType=0);zoom:1;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)}
.mce-btn button{padding:4px 10px;font-size:14px;line-height:20px;;cursor:pointer;color:#333;text-align:center;overflow:visible;-webkit-appearance:none}
.mce-btn button::-moz-focus-inner{border:0;padding:0}
.mce-btn i{text-shadow:1px 1px #fff}
.mce-primary{min-width:50px;color:#fff;border:1px solid #b1b1b1;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25) rgba(0,0,0,.25);background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);zoom:1}
.mce-primary:hover,.mce-primary:focus{background-color:#005fb3;background-image:-moz-linear-gradient(top,#0077b3,#003cb3);background-image:-webkit-gradient(linear,0 0,0 100%,from(#0077b3),to(#003cb3));background-image:-webkit-linear-gradient(top,#0077b3,#003cb3);background-image:-o-linear-gradient(top,#0077b3,#003cb3);background-image:linear-gradient(to bottom,#0077b3,#003cb3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0077b3', endColorstr='#ff003cb3', GradientType=0);zoom:1}
.mce-primary.mce-disabled button,.mce-primary.mce-disabled:hover button{cursor:default;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;opacity:.4;filter:alpha(opacity=40);zoom:1}
.mce-primary.mce-active,.mce-primary.mce-active:hover,.mce-primary:not(.mce-disabled):active{background-color:#005299;background-image:-moz-linear-gradient(top,#069,#039);background-image:-webkit-gradient(linear,0 0,0 100%,from(#069),to(#039));background-image:-webkit-linear-gradient(top,#069,#039);background-image:-o-linear-gradient(top,#069,#039);background-image:linear-gradient(to bottom,#069,#039);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006699', endColorstr='#ff003399', GradientType=0);zoom:1;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)}
.mce-primary button,.mce-primary button i{color:#fff;text-shadow:1px 1px #333}
.mce-btn-large button{padding:9px 14px;font-size:16px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.mce-btn-large i{margin-top:2px}
.mce-btn-small button{padding:1px 5px;font-size:12px;}
.mce-btn-small i{line-height:20px;vertical-align:top;}
.mce-btn .mce-caret{margin-top:8px;margin-left:0}
.mce-btn-small .mce-caret{margin-top:8px;margin-left:0}
.mce-caret{display:inline-block;;;width:0;height:0;vertical-align:top;border-top:4px solid #333;border-right:4px solid transparent;border-left:4px solid transparent;content:""}
.mce-disabled .mce-caret{border-top-color:#aaa}
.mce-caret.mce-up{border-bottom:4px solid #333;border-top:0}
.mce-btn-flat{border:0;background:0 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:none}
.mce-btn-flat:hover,.mce-btn-flat.mce-active,.mce-btn-flat:focus,.mce-btn-flat:active{border:0;background:#e6e6e6;filter:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.mce-rtl .mce-btn button{direction:rtl}
.mce-btn-group .mce-btn{border-width:1px 0 1px 0;margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.mce-btn-group .mce-first{border-left:1px solid #b1b1b1;border-left:1px solid rgba(0,0,0,.25);-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.mce-btn-group .mce-last{border-right:1px solid #b1b1b1;border-right:1px solid rgba(0,0,0,.1);-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
.mce-btn-group .mce-first.mce-last{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.mce-btn-group .mce-btn.mce-flow-layout-item{margin:0}
.mce-checkbox{cursor:pointer}
i.mce-i-checkbox{margin:0 3px 0 0;border:1px solid #c5c5c5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#fff,#d9d9d9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#d9d9d9));background-image:-webkit-linear-gradient(top,#fff,#d9d9d9);background-image:-o-linear-gradient(top,#fff,#d9d9d9);background-image:linear-gradient(to bottom,#fff,#d9d9d9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd9d9d9', GradientType=0);zoom:1;text-indent:-10em;;;;overflow:hidden}
.mce-checked i.mce-i-checkbox{color:#333;font-size:16px;line-height:16px;text-indent:0}
.mce-checkbox:focus i.mce-i-checkbox,.mce-checkbox.mce-focus i.mce-i-checkbox{border:1px solid rgba(82,168,236,.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.65);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.65);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.65)}
.mce-checkbox.mce-disabled .mce-label,.mce-checkbox.mce-disabled i.mce-i-checkbox{color:#acacac}
.mce-rtl .mce-checkbox{direction:rtl;text-align:right}
.mce-rtl i.mce-i-checkbox{margin:0 0 0 3px}
.mce-combobox{display:inline-block;;;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
.mce-combobox input{border:1px solid #c5c5c5;border-right-color:#c5c5c5;height:28px}
.mce-combobox.mce-disabled input{color:#adadad}
.mce-combobox.mce-has-open input{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.mce-combobox .mce-btn{border-left:0;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.mce-combobox button{padding-right:8px;padding-left:8px}
.mce-combobox.mce-disabled .mce-btn button{cursor:default;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;opacity:.4;filter:alpha(opacity=40);zoom:1}
.mce-colorbox i{border:1px solid #c5c5c5;width:14px;height:14px}
.mce-colorbutton .mce-ico{position:relative}
.mce-colorbutton-grid{margin:4px}
.mce-colorbutton button{padding-right:4px}
.mce-colorbutton .mce-preview{padding-right:3px;display:block;position:absolute;left:50%;top:50%;margin-left:-14px;margin-top:7px;background:gray;width:13px;height:2px;overflow:hidden}
.mce-colorbutton.mce-btn-small .mce-preview{margin-left:-16px;padding-right:0;width:16px}
.mce-colorbutton .mce-open{padding-left:4px;border-left:1px solid transparent;border-right:1px solid transparent}
.mce-colorbutton:hover .mce-open{border-left-color:#bdbdbd;border-right-color:#bdbdbd}
.mce-colorbutton.mce-btn-small .mce-open{padding:0 3px 0 3px}
.mce-rtl .mce-colorbutton{direction:rtl}
.mce-rtl .mce-colorbutton .mce-preview{margin-left:0;padding-right:0;padding-left:4px;margin-right:-14px}
.mce-rtl .mce-colorbutton.mce-btn-small .mce-preview{margin-left:0;padding-right:0;margin-right:-17px;padding-left:0}
.mce-rtl .mce-colorbutton button{padding-right:10px;padding-left:10px}
.mce-rtl .mce-colorbutton .mce-open{padding-left:4px;padding-right:4px}
.mce-colorpicker{position:relative;width:250px;height:220px}
.mce-colorpicker-sv{position:absolute;top:0;left:0;width:90%;height:100%;border:1px solid #c5c5c5;cursor:crosshair;overflow:hidden}
.mce-colorpicker-h-chunk{width:100%}
.mce-colorpicker-overlay1,.mce-colorpicker-overlay2{width:100%;height:100%;position:absolute;top:0;left:0}
.mce-colorpicker-overlay1{filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ffffff', endColorstr='#00ffffff');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')";background:linear-gradient(to right,#fff,rgba(255,255,255,0))}
.mce-colorpicker-overlay2{filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00000000', endColorstr='#000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')";background:linear-gradient(to bottom,rgba(0,0,0,0),#000)}
.mce-colorpicker-selector1{background:0 0;position:absolute;width:12px;height:12px;margin:-8px 0 0 -8px;border:1px solid #000;border-radius:50%}
.mce-colorpicker-selector2{position:absolute;width:10px;height:10px;border:1px solid #fff;border-radius:50%}
.mce-colorpicker-h{position:absolute;top:0;right:0;width:6.5%;height:100%;border:1px solid #c5c5c5;cursor:crosshair}
.mce-colorpicker-h-marker{margin-top:-4px;position:absolute;top:0;left:-1px;width:100%;border:1px solid #333;background:#fff;height:4px;z-index:100}
.mce-path{display:inline-block;;;padding:8px;white-space:normal}
.mce-path .mce-txt{display:inline-block;padding-right:3px}
.mce-path .mce-path-body{display:inline-block}
.mce-path-item{display:inline-block;;;cursor:pointer;color:#333}
.mce-path-item:hover{text-decoration:underline}
.mce-path-item:focus{background:#666;color:#fff}
.mce-path .mce-divider{display:inline}
.mce-disabled .mce-path-item{color:#aaa}
.mce-rtl .mce-path{direction:rtl}
.mce-fieldset{border:0 solid #9E9E9E;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.mce-fieldset>.mce-container-body{margin-top:-15px}
.mce-fieldset-title{margin-left:5px;padding:0 5px 0 5px}
.mce-fit-layout{display:inline-block;;}
.mce-fit-layout-item{position:absolute}
.mce-flow-layout-item{display:inline-block;;}
.mce-flow-layout-item{margin:2px 0 2px 2px}
.mce-flow-layout-item.mce-last{margin-right:2px}
.mce-flow-layout{white-space:normal}
.mce-tinymce-inline .mce-flow-layout{white-space:nowrap}
.mce-rtl .mce-flow-layout{text-align:right;direction:rtl}
.mce-rtl .mce-flow-layout-item{margin:2px 2px 2px 0}
.mce-rtl .mce-flow-layout-item.mce-last{margin-left:2px}
.mce-iframe{border:0 solid #9e9e9e;width:100%;height:100%}
.mce-label{display:inline-block;;;text-shadow:0 1px 1px rgba(255,255,255,.75);overflow:hidden}
.mce-label.mce-autoscroll{overflow:auto}
.mce-label.mce-disabled{color:#aaa}
.mce-label.mce-multiline{white-space:pre-wrap}
.mce-label.mce-error{color:#a00}
.mce-rtl .mce-label{text-align:right;direction:rtl}
.mce-menubar .mce-menubtn{border-color:transparent;background:0 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:none}
.mce-menubar{border:1px solid #c4c4c4}
.mce-menubar .mce-menubtn button span{color:#333}
.mce-menubar .mce-caret{border-top-color:#333}
.mce-menubar .mce-menubtn:hover,.mce-menubar .mce-menubtn.mce-active,.mce-menubar .mce-menubtn:focus{border-color:transparent;background:#e6e6e6;filter:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.mce-menubtn span{color:#333;margin-right:2px;line-height:20px;}
.mce-menubtn.mce-btn-small span{font-size:12px}
.mce-menubtn.mce-fixed-width span{display:inline-block;overflow-x:hidden;text-overflow:ellipsis;width:90px}
.mce-menubtn.mce-fixed-width.mce-btn-small span{width:70px}
.mce-rtl .mce-menubtn button{direction:rtl;text-align:right}
.mce-listbox button{text-align:left;padding-right:20px;position:relative}
.mce-listbox .mce-caret{position:absolute;margin-top:-2px;right:8px;top:50%}
.mce-rtl .mce-listbox .mce-caret{right:auto;left:8px}
.mce-rtl .mce-listbox button{padding-right:10px;padding-left:20px}
.mce-menu-item{display:block;padding:6px 15px 6px 12px;clear:both;font-weight:400;line-height:20px;color:#333;white-space:nowrap;cursor:pointer;line-height:normal;border-left:4px solid transparent;margin-bottom:1px}
.mce-menu-item .mce-ico,.mce-menu-item .mce-text{color:#333}
.mce-menu-item.mce-disabled .mce-text,.mce-menu-item.mce-disabled .mce-ico{color:#adadad}
.mce-menu-item:hover .mce-text,.mce-menu-item.mce-selected .mce-text,.mce-menu-item:focus .mce-text{color:#fff}
.mce-menu-item:hover .mce-ico,.mce-menu-item.mce-selected .mce-ico,.mce-menu-item:focus .mce-ico{color:#fff}
.mce-menu-item.mce-disabled:hover{background:#ccc}
.mce-menu-shortcut{display:inline-block;color:#adadad}
.mce-menu-shortcut{display:inline-block;;;padding:0 15px 0 20px}
.mce-menu-item:hover .mce-menu-shortcut,.mce-menu-item.mce-selected .mce-menu-shortcut,.mce-menu-item:focus .mce-menu-shortcut{color:#fff}
.mce-menu-item .mce-caret{margin-top:4px;;margin-right:6px;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #333}
.mce-menu-item.mce-selected .mce-caret,.mce-menu-item:focus .mce-caret,.mce-menu-item:hover .mce-caret{border-left-color:#fff}
.mce-menu-align .mce-menu-shortcut,.mce-menu-align .mce-caret{position:absolute;right:0}
.mce-menu-item.mce-active i{visibility:visible}
.mce-menu-item-normal.mce-active{background-color:#c8def4}
.mce-menu-item-preview.mce-active{border-left:5px solid #aaa}
.mce-menu-item-normal.mce-active .mce-text{color:#333}
.mce-menu-item-normal.mce-active:hover .mce-text,.mce-menu-item-normal.mce-active:hover .mce-ico{color:#fff}
.mce-menu-item-normal.mce-active:focus .mce-text,.mce-menu-item-normal.mce-active:focus .mce-ico{color:#fff}
.mce-menu-item:hover,.mce-menu-item.mce-selected,.mce-menu-item:focus{text-decoration:none;color:#fff;background-color:#0081c2;background-image:-moz-linear-gradient(top,#08c,#0077b3);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));background-image:-webkit-linear-gradient(top,#08c,#0077b3);background-image:-o-linear-gradient(top,#08c,#0077b3);background-image:linear-gradient(to bottom,#08c,#0077b3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);zoom:1}
div.mce-menu .mce-menu-item-sep,.mce-menu-item-sep:hover{border:0;padding:0;height:1px;margin:9px 1px;overflow:hidden;background:#cbcbcb;border-bottom:1px solid #fff;cursor:default;filter:none}
.mce-menu.mce-rtl{direction:rtl}
.mce-rtl .mce-menu-item{text-align:right;direction:rtl;padding:6px 12px 6px 15px}
.mce-menu-align.mce-rtl .mce-menu-shortcut,.mce-menu-align.mce-rtl .mce-caret{right:auto;left:0}
.mce-rtl .mce-menu-item .mce-caret{margin-left:6px;margin-right:0;border-right:4px solid #333;border-left:0}
.mce-rtl .mce-menu-item.mce-selected .mce-caret,.mce-rtl .mce-menu-item:focus .mce-caret,.mce-rtl .mce-menu-item:hover .mce-caret{border-left-color:transparent;border-right-color:#fff}
.mce-menu{position:absolute;left:0;top:0;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background:0 0;z-index:1000;padding:5px 0 5px 0;margin:2px 0 0;min-width:160px;background:#fff;border:1px solid #989898;border:1px solid rgba(0,0,0,.2);z-index:1002;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);max-height:400px;overflow:auto;overflow-x:hidden}
.mce-menu i{display:none}
.mce-menu-has-icons i{display:inline-block;}
.mce-menu-sub-tr-tl{margin:-6px 0 0 -1px}
.mce-menu-sub-br-bl{margin:6px 0 0 -1px}
.mce-menu-sub-tl-tr{margin:-6px 0 0 1px}
.mce-menu-sub-bl-br{margin:6px 0 0 1px}
.mce-container-body .mce-resizehandle{position:absolute;right:0;bottom:0;width:16px;height:16px;visibility:visible;cursor:s-resize;margin:0}
.mce-container-body .mce-resizehandle-both{cursor:se-resize}
i.mce-i-resize{color:#333}
.mce-spacer{visibility:hidden}
.mce-splitbtn .mce-open{border-left:1px solid transparent;border-right:1px solid transparent}
.mce-splitbtn:hover .mce-open{border-left-color:#bdbdbd;border-right-color:#bdbdbd}
.mce-splitbtn button{padding-right:4px}
.mce-splitbtn .mce-open{padding-left:4px}
.mce-splitbtn .mce-open.mce-active{-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)}
.mce-splitbtn.mce-btn-small .mce-open{padding:0 3px 0 3px}
.mce-rtl .mce-splitbtn{direction:rtl;text-align:right}
.mce-rtl .mce-splitbtn button{padding-right:10px;padding-left:10px}
.mce-rtl .mce-splitbtn .mce-open{padding-left:4px;padding-right:4px}
.mce-stack-layout-item{display:block}
.mce-tabs{display:block;border-bottom:1px solid #c5c5c5}
.mce-tab{display:inline-block;;;border:1px solid #c5c5c5;border-width:0 1px 0 0;background:#e3e3e3;padding:8px;text-shadow:0 1px 1px rgba(255,255,255,.75);height:13px;cursor:pointer}
.mce-tab:hover{background:#fdfdfd}
.mce-tab.mce-active{background:#fdfdfd;border-bottom-color:transparent;margin-bottom:-1px;height:14px}
.mce-rtl .mce-tabs{text-align:right;direction:rtl}
.mce-rtl .mce-tab{border-width:0 0 0 1px}
.mce-textbox{background:#fff;border:1px solid #c5c5c5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);display:inline-block;-webkit-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s;height:28px;resize:none;padding:0 4px 0 4px;white-space:pre-wrap;;color:#333}
.mce-textbox:focus,.mce-textbox.mce-focus{border-color:rgba(82,168,236,.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.65);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.65);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.65)}
.mce-placeholder .mce-textbox{color:#aaa}
.mce-textbox.mce-multiline{padding:4px}
.mce-textbox.mce-disabled{color:#adadad}
.mce-rtl .mce-textbox{text-align:right;direction:rtl}
.mce-throbber{position:absolute;top:0;left:0;width:100%;height:100%;opacity:.6;filter:alpha(opacity=60);zoom:1;background:#fff url(img/loader.gif) no-repeat center center}
.mce-throbber-inline{position:static;height:50px}
@font-face{font-family:tinymce;src:url(fonts/tinymce.eot);src:url(fonts/tinymce.eot?#iefix) format('embedded-opentype'),url(fonts/tinymce.woff) format('woff'),url(fonts/tinymce.ttf) format('truetype'),url(fonts/tinymce.svg#tinymce) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:tinymce-small;src:url(fonts/tinymce-small.eot);src:url(fonts/tinymce-small.eot?#iefix) format('embedded-opentype'),url(fonts/tinymce-small.woff) format('woff'),url(fonts/tinymce-small.ttf) format('truetype'),url(fonts/tinymce-small.svg#tinymce) format('svg');font-weight:400;font-style:normal}
.mce-ico{font-family:tinymce,Arial;font-style:normal;font-weight:400;font-variant:normal;font-size:16px;line-height:16px;speak:none;vertical-align:text-top;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block;background:transparent center center;background-size:cover;width:16px;height:16px;color:#333}
.mce-btn-small .mce-ico{font-family:tinymce-small,Arial}
.mce-i-save:before{content:"\e000"}
.mce-i-newdocument:before{content:"\e001"}
.mce-i-fullpage:before{content:"\e002"}
.mce-i-alignleft:before{content:"\e003"}
.mce-i-aligncenter:before{content:"\e004"}
.mce-i-alignright:before{content:"\e005"}
.mce-i-alignjustify:before{content:"\e006"}
.mce-i-cut:before{content:"\e007"}
.mce-i-paste:before{content:"\e008"}
.mce-i-searchreplace:before{content:"\e009"}
.mce-i-bullist:before{content:"\e00a"}
.mce-i-numlist:before{content:"\e00b"}
.mce-i-indent:before{content:"\e00c"}
.mce-i-outdent:before{content:"\e00d"}
.mce-i-blockquote:before{content:"\e00e"}
.mce-i-undo:before{content:"\e00f"}
.mce-i-redo:before{content:"\e010"}
.mce-i-link:before{content:"\e011"}
.mce-i-unlink:before{content:"\e012"}
.mce-i-anchor:before{content:"\e013"}
.mce-i-image:before{content:"\e014"}
.mce-i-media:before{content:"\e015"}
.mce-i-help:before{content:"\e016"}
.mce-i-code:before{content:"\e017"}
.mce-i-insertdatetime:before{content:"\e018"}
.mce-i-preview:before{content:"\e019"}
.mce-i-forecolor:before{content:"\e01a"}
.mce-i-backcolor:before{content:"\e01a"}
.mce-i-table:before{content:"\e01b"}
.mce-i-hr:before{content:"\e01c"}
.mce-i-removeformat:before{content:"\e01d"}
.mce-i-subscript:before{content:"\e01e"}
.mce-i-superscript:before{content:"\e01f"}
.mce-i-charmap:before{content:"\e020"}
.mce-i-emoticons:before{content:"\e021"}
.mce-i-print:before{content:"\e022"}
.mce-i-fullscreen:before{content:"\e023"}
.mce-i-spellchecker:before{content:"\e024"}
.mce-i-nonbreaking:before{content:"\e025"}
.mce-i-template:before{content:"\e026"}
.mce-i-pagebreak:before{content:"\e027"}
.mce-i-restoredraft:before{content:"\e028"}
.mce-i-untitled:before{content:"\e029"}
.mce-i-bold:before{content:"\e02a"}
.mce-i-italic:before{content:"\e02b"}
.mce-i-underline:before{content:"\e02c"}
.mce-i-strikethrough:before{content:"\e02d"}
.mce-i-visualchars:before{content:"\e02e"}
.mce-i-visualblocks:before{content:"\e02e"}
.mce-i-ltr:before{content:"\e02f"}
.mce-i-rtl:before{content:"\e030"}
.mce-i-copy:before{content:"\e031"}
.mce-i-resize:before{content:"\e032"}
.mce-i-browse:before{content:"\e034"}
.mce-i-pastetext:before{content:"\e035"}
.mce-i-checkbox:before,.mce-i-selected:before{content:"\e033"}
.mce-i-selected{visibility:hidden}
i.mce-i-backcolor{text-shadow:none;background:#bbb}
.mce-btn.mce-disabled button, .mce-btn.mce-disabled:hover button {
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: .4;
  filter: alpha(opacity=40);
  zoom: 1;
  display: none;
}
.mce-statusbar .mce-container-body {
  position: relative;
  display: none;
}
.mce-panel {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top,#fdfdfd,#ddd);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#ddd));
  background-image: -webkit-linear-gradient(top,#fdfdfd,#ddd);
  background-image: -o-linear-gradient(top,#fdfdfd,#ddd);
  background-image: linear-gradient(to bottom,#fdfdfd,#ddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffdddddd', GradientType=0);
  zoom: 1;
}
