@charset "utf-8";
/* CSS Document */
html {position: relative; min-height: 100%;}
html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {display: block;}
/* footer */
body {margin-bottom: 0px; background:#fff}
 h1,.h1{font-size:25px; color:#464646; font-family: 'open_sansregular'; float:left}
 h2,.h2{font-size:20px; color:#464646; float:left;font-family: 'open_sansregular';}
 h3,.h3{font-size:24px}
 h4,.h4{font-size:18px}
 h5,.h5{font-size:14px}
 h6,.h6{font-size:12px}
 p{margin:0 0 15px; font-size:14px;font-family: 'open_sansregular';}
.pull-left { float:left!important}
.left-right-margine-30px { margin-left:25px; margin-right:25px;}
.text-right { text-align:right!important}
.pull-right { float:right!important;}
.top-margine-15px { margin-top:17px;}
.clerafix { clear:both;}
.container { margin:auto; width:960px;}
.header { margin:auto; width:960px; padding-top:35px; height:105px;}
.brand-Exceed a { float:left; background:url(../images/Exceed.jpg) no-repeat; width:188px; height:75px;}
.social-link { float:right; width:auto;}
.social-link ul { float:right; list-style:none; padding:0; width:auto; margin-bottom:15px; margin-top:10px;} 
.social-link ul li { float:left; margin-left:5px;}
.social-link ul li a { float:left; width:32px; height:32px; background:url(../images/socail-link.png) 0 0 no-repeat}
.social-link ul li a.facebook { background-position:-37px 0;}
.social-link ul li a.linkdin { background-position:-74px 0;}
.social-link ul li a.instagram { background-position:-111px 0;}
.welcome-title { float:left; color:#898989; font-size:14px;font-family: 'open_sanssemibold';  }
.blue-text {color:#0080ff!important;}
.icon { float:right; margin-left:5px; margin-top:3px; background:url(../images/spredet.png) center no-repeat;}
.red-box { float:left;width:100%; background:url(../images/red-line.jpg) repeat-x; height:61px;}
ul.nav-bar { float:left; width:auto; padding:0; list-style:none;}
ul.nav-bar li { float:left;padding-right:15px; height:61px; line-height:61px; color:#fff; font-size:15px;font-family: 'open_sansbold';}
ul.nav-bar li a { float:left; margin-right:15px;color:#fff; font-size:15px; text-decoration:none;display: inline-block;position: relative;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;
  -webkit-transition-property: transform;transition-property: transform;-webkit-transform: translateZ(0);transform: translateZ(0); text-transform:uppercase; height:45px; }
ul.nav-bar li a:hover {-webkit-transform: translatex(5px);transform: translatex(5px); /* move the element up by 5px */}
ul.nav-bar li a.active { color:#fb938b; border-bottom:1px solid #fff;}
.post-an-ad { float:right; margin-top:12px;display: inline-block;position: relative;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;
  -webkit-transition-property: transform;transition-property: transform;-webkit-transform: translateZ(0);transform: translateZ(0);}
.post-an-ad:hover {-webkit-transform: translatex(5px);transform: translatex(5px); /* move the element up by 5px */}
.border-bottom { border-bottom:1px solid #f48780; height:61px;}
.red-box-bottom-part { margin:0 auto 45px auto; background:url(../images/search-red-box.png) center no-repeat; width:1010px; height:71px;}
.col-md-12 { float:left; width:100%;}
.select_style{overflow:hidden;}
.select_style select {-webkit-appearance: none;	appearance:none;width:100%;background:url(../images/select_style-bg.png) right no-repeat #e2504d; height:38px;border-radius: 3px;outline:none;color:#fff;font-size:15px; padding-left:10px;font-family: 'open_sansregular'; border:1px solid #f39d99;-moz-appearance: none;text-indent: 0.01px; text-overflow: ''; }
.col-md-2 { float:left; width:200px;}
.col-md-8 { width:450px; background:#309; float:left;}
.form-control{width:100%;background:#e2504d; height:34px;border-radius: 3px;outline:none;color:#fff;font-size:15px; padding-left:10px;font-family: 'open_sansregular'; border:1px solid #f39d99; float:left;}
.left-right-margine-20px { margin-left:20px; margin-right:30px;}
::-webkit-input-placeholder {/*color:#fff;*/}
:-moz-placeholder { /* Firefox 18- color:#fff;*/}
::-moz-placeholder {  /* Firefox 19+color:#fff; */ }
:-ms-input-placeholder {/*color:#fff; */}
.margin-none { margin:0!important;}
.spreter-div { float:left; width:620px; height:1px; background:#ebebeb; margin-left:10px;}
.caption-flex { position:absolute; width:225px; height:42px;background-color: rgba(0, 0, 0, 0.7);background: rgba(0, 0, 0, 0.7); color:#fff; line-height:42px;font-family: 'open_sansregular'; font-size:16px; text-align:center; margin-top:150px;} 
.categories-widht { width:802px!important;}
.row { float:left; width:100%;}
.col-md-4 { float:left; width:250px; border:1px solid #ccc; padding:28px 25px; margin-top:25px; border-radius:8px;}
.icon-box { float:left; width:37px;}
.table-box1 { float:left; width:213px;}
.table-box1 ul { float:left; width:213px; list-style:none; padding:0; margin-top:10px;}
.table-box1 ul li { float:left;}
.table-box1 ul li a {float:left; width:213px; color:#0080ff; font-size:14px;font-family: 'open_sansregular'; padding:6px 0; border-bottom:1px solid #ebebeb; text-decoration:none;}
.table-box1 ul li a:hover { color:#ccc}
.table-box1 ul li span { float:right;}
.add-box { float:left; width:300px; margin-top:25px;}
.container-fuld { height:150px; background:#f4f6f7; margin-top:60px; padding-top:50px;}
.tabs-box { width:610px; margin:auto;}
ul.tabs { float:left; list-style:none; padding:0;}
ul.tabs li { float:left; height:55px;}
ul.tabs li a { float:left; color:#464646; font-size:18px; padding:0px 30px; text-decoration:none;font-family: 'open_sansregular'; height:41px; line-height:41px; background:#fff; border:1px solid #cccccc; border-radius:8px; margin-left:10px; }
html ul.tabs li.active, html ul.tabs li.active a { color:#0080ff;}
.product-box { float:left; margin-left:20px; margin-top:20px; width:225px; height:225px;}
.product-box img { float:left; border-radius:8px;}
.first-marngin-none { margin-left:0!important;}
.pagenation { margin:25px auto 0px auto;  width:auto;}
.pagenation ul { margin:auto; list-style:none; width:270px;}
.pagenation ul li { float:left; margin-bottom:60px;}
.pagenation ul li a { float:left; color:#0080ff; font-size:16px; width:37px; height:37px; text-align:center; line-height:37px; text-decoration:none; border:1px solid #cccccc; margin-right:5px;font-family: 'open_sansregular'; border-radius:8px;}
.pagenation ul li a:hover { color:#ccc;}
.pagenation ul li a.active { color:#ccc;}
.black-container { background:#252525; padding-top:50px; margin:auto; padding-bottom:1px;}
.col-md-6 { float:left; width:50%;}
.font-17px { font-size:17px; color:#007fff;font-family: 'open_sanssemibold';}
.font-13px { font-size:13px; color:#fff;}
.font-13px a { font-size:14px; color:#898989; text-decoration:none;}
.font-13px a:hover { text-decoration:underline;}
.col-xs-6 { width:225px; float:left;}
.footer-form { background:none; border:1px solid #515151; border-radius:0; margin-bottom:8px;}
.lable-text { font-size:11px; color:#acacac;}
.send-btn-default { float:left; width:67px; text-align:center; height:35px; color:#fff; background:#0080ff; border:0; font-size:15px; cursor:pointer;}
.footer-para { color:#898989}
.readmore { color:#0080ff; text-decoration:none;}
.readmore:hover { text-decoration:underline;}
.copy-right { color:#898989; padding-top:15px; width:100%; margin-top:40px; border-top:1px solid #393939;}
ul.bradcram { float:left; width:100%; list-style:none; margin-bottom:10px;}
ul.bradcram li { float:left; color:#464646; font-size:13px;font-family: 'open_sansregular'; margin-right:5px;}
ul.bradcram li a { float:left; color:#464646; font-size:13px;font-family: 'open_sansregular'; padding-right:10px; background:url(../images/bradcram-icon.jpg) right no-repeat; color:#027fff; text-decoration:none;}
ul.bradcram li a:hover { text-decoration:underline;}
.page-title { float:left; width:100%; font-size:21px; color:#ff1a00; border-bottom:1px solid #cccccc;font-family: 'open_sansregular';padding-bottom:25px; margin-bottom:45px;}
.lead { font-size:30px!important;font-family: 'open_sanslight'; }
.blute-text-smibold {font-family: 'open_sanssemibold'; color:#027fff; }
.left-about-1 { float:left; width:285px;}
.left-about-2 { float:right; width:637px;}
.out-team-heading { font-size:30px;font-family: 'open_sansbold'; color:#fe1a00; margin-top:30px;}
.about-bios { text-align:center; margin-top:10px; font-size:15px;}
.about-bios span { color:#fe1a00; font-family: 'open_sansbold';}
.text-upercase { text-transform:uppercase;}
.text-center { text-align:center;}
.view-profile {color:#fe1a00; text-transform:uppercase;font-family: 'open_sanssemibold'; text-decoration:none;}
.view-profile:hover { text-decoration:underline;}
.divider-futered { float:left; margin-top:50px; width:100%; height:1px;}
.main-categries-box { float:left; width:204px; margin-left:48px; background:url(../images/border-radius-bg.jpg) top center no-repeat; height:250px; margin-bottom:15px;}
.main-categries-box p { text-align:center; margin-top:15px; color:#ff1a00; font-size:15px;}
ul.locations-list { float:left; width:204px; list-style:none; padding:0; margin-left:48px; margin-bottom:48px;}
ul.locations-list li { float:left;color:#0080ff; font-size:15px;font-family: 'open_sanssemibold'; width:204px;border-bottom:1px solid #ebebeb;  padding: 6px 0; }
ul.locations-list li span { float:right!important; color:#898989;}
ul.locations-list li a { float:left; width:204px;  color:#898989; font-size:14px;font-family: 'open_sansregular'; text-decoration:none;}
ul.locations-list li a span {float:right!important; color:#fe1900;}
.border-none { border:0!important;}
.border-none a { color:#fe1900!important}
ul.locations-list li a:hover {color:#0080ff;}
.first-list-margine-none { margin-left:0!important}
.blog-box-left { float:left; width:626px; border:1px solid #cccccc; border-radius:10px; padding-top:25px; margin-bottom:25px;}
.blog-img-box { float:left; width:225px; margin-left:15px;}
.blog-img-box img { float:left;border-radius:10px; }
.blog-content-box { float:left; width:350px; margin-left:15px;}
.datespan { float:left; color:#ff1a00; text-transform:uppercase; font-size:12px;font-family: 'open_sanssemibold'; width:350px;}
.blog-title { float:left; width:350px;color:#464646; font-size:18px;font-family: 'open_sanssemibold'; text-transform:uppercase;}
.link-by-admin { float:left; width:350px;}
.link-by-admin p a { padding-right:2px; margin-right:2px; width:100%; font-style:italic;color:#ff1a00; font-size:13px;}
.link-by-admin p span {color:#ff1a00;}
.social-link-box { float:left; width:100%; border-top:1px solid #ccc; padding-bottom:10px; padding-top:10px; margin-top:10px;}
.social-link-box ul { float:left; width:auto; list-style:none; padding:0; margin-left:15px;}
.social-link-box ul li { float:left;}
.social-link-box ul li a { float:left; width:22px; height:22px; /*background:url(../images/blog-social-link.png) 0 0 no-repeat; */margin-right:5px;  display: inline-block; position: relative; -webkit-transition-duration: 0.3s;  transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform;-webkit-transform: translateZ(0);transform: translateZ(0);}
.social-link-box ul li a.blog-twiter { background-position:-28px 0;}
.social-link-box ul li a.blog-gplus { background-position:-56px 0;}
.social-link-box ul li a:hover {-webkit-transform: translatey(-3px);transform: translatey(-3px); /* move the element up by 5px */}
.conturne-reading a { float:right; margin-right:25px; text-transform:uppercase; background:url(../images/Continue-Reading.png) right no-repeat; padding-right:25px; color:#ff1a00; font-size:12px;font-family: 'open_sanssemibold'; text-decoration:none; display: inline-block; position: relative; -webkit-transition-duration: 0.3s;  transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform;-webkit-transform: translateZ(0);transform: translateZ(0); margin-top:3px;}
.conturne-reading a:hover {-webkit-transform: translatex(5px);transform: translatex(5px); /* move the element up by 5px */}
.blog-box-right { float:right; width:300px;}
.blog-box-right-input { width:300px; border:1px solid #ccc;border-radius:10px; color:#898989; text-indent:15px; background:url(../images/search-icon-2.png) right no-repeat;font-family: 'open_sansregular'; background:t; height:38px; } 
.search-title { float:left; width:100%; color:#464646; font-size:16px;font-family: 'open_sansbold'; margin-top:40px;}
ul.follow-us { float:left; list-style:none; padding:0; width:300px; margin-top:13px;}
ul.follow-us li { float:left;}
ul.follow-us li a { float:left; width:30px; height:31px; background:url(../images/follow-us.png) 0 0 no-repeat; margin-right:8px;}
ul.follow-us li a.twiter-flow { background-position:-39px 0;}
ul.follow-us li a.gplus-flow { background-position:-77px 0;}
ul.blog-right-list { float:left; list-style:none; width:300px; padding:0;}
ul.blog-right-list li { float:left; margin-bottom:2px;}
ul.blog-right-list li a { float:left; height:36px; line-height:36px; background:url(../images/blog-right-list-img.jpg) top left no-repeat; padding-left:25px; color:#464646; text-decoration:none;font-family: 'open_sansregular'; font-size:13px; width:275px; border-radius:5px;}
ul.blog-right-list li a:hover { background:url(../images/blog-right-list-img.jpg) bottom left no-repeat #ff1a00; color:#fff; text-indent:10px;}
ul.blog-right-list li a.active { background:url(../images/blog-right-list-img.jpg) bottom left no-repeat #ff1a00; color:#fff; text-indent:10px;}
.img-box-blog-right { float:left; width:100px;}
.img-box-blog-right img { float:left; width:100px; border-radius:10px;}
.blog-right-para-col-1 { float:left; width:190px; margin-left:10px;}
.blog-right-para-col-1 p { color:#898989; font-size:12px;font-family: 'open_sansregular'; line-height:18px;}
.blog-right-para-col-1 p span { font-size:13px; color:#464646;font-family: 'open_sanssemibold';}
.blog-right-para-col-1 p a { color:#ff1a00;font-family: 'open_sanssemibold'; text-decoration:none;}
.blog-right-para-col-1 p a:hover { text-decoration:underline;}
.blog-row-right { margin-top:10px; padding-bottom:10px; border-bottom:1px solid #ebebeb;}
.comments-box { float:left; background:url(../images/comment-box.png) no-repeat; width:258px; height:83px; margin-top:15px; margin-bottom:5px; padding-left:10px; padding-top:10px; }
.comments-box  p { font-size:12px; line-height:18px;  color: #898989; margin:0 0 8px;}
.right-caption { float:right; margin-right:22px!important; font-size:13px!important; font-style:italic; color:#3b3434!important;font-family: 'open_sanssemibold';}
.right-caption span { color:#ff1a00;}
.right-box-post-ad { float:left; width:300px;height:250px; background:#e5f2ff;}
.lead-right-para { width:300px; text-align:center; color:#ff1a00!important; font-size:18px; line-height:24px; margin-top:45px!important; border:0!important;font-family: 'open_sansbold'; }
.right-box-post-ad p { float:left; width:300px;text-align:center; }
.right-box-post-ad p a { color:#0CC;  border-bottom:1px solid #cccccc; text-decoration:none;font-family: 'open_sanssemibold'; color:#464646; font-size:15px; padding-bottom:7px; margin-bottom:7px;}
.right-box-post-ad p a:hover { color:#ff1a00;}
.post-left-box { float:left; width:610px;}
.post-field-col { float:left; width:286px;} 
/* form */
.contact-form { width:610px; float:left; margin:0px 0px 0px 0px; display:inline; }
.contact-form label { width:100%; float:left; color:#464646; font-size:13px;font-family: 'open_sansregular'; margin-bottom:7px;  }
.contact-form input {width:100%; float:left; color:#464646; font-size:13px;font-family: 'open_sansregular'; border:1px solid #cccccc; height:33px; margin-bottom:20px;text-indent:10px;  }
.contact-form select { width:100%; float:left; color:#464646; font-size:13px;font-family: 'open_sansregular'; border:1px solid #cccccc; height:33px;-webkit-appearance: none;appearance:none;-moz-appearance: none;text-overflow: ''; background:url(../images/post-drop-icon.jpg) right no-repeat; margin-bottom:20px; text-indent:10px; }
.contact-form input.submit { float:left; background:url(../images/submit.jpg) repeat-x; height:42px; text-align:center; line-height:36px; color:#fff; font-size:15px;font-family: 'open_sansregular'; font-weight:bold; 
width:auto; padding-left:15px; padding-right:15px; text-indent:0; margin-top:-10px; cursor:pointer; outline:none;}
.contact-form input.submit:hover {background:#DC0614;}
.spreter-hr { width:100%; height:1px; background:#ebebeb; float:left; margin-top:10px; margin-bottom:20px;}
.post-field-col-4 { float:left; width:177px;}
.post-field-col-12 { float:left; width:610px;}
.left-right-margine-post-field { margin-left:40px; margin-right:39px;}
.font12px { font-size:12px; margin-top:-10px; width:610px; float:left;}
.login-heading { float:left; width:610px; color:#fe1a00; font-size:18px;font-family: 'open_sansregular'; font-weight:bold; background:url(../images/login-border.jpg) 0 15px repeat-x;}
.login-heading  span { background:#FFF; padding-right:10px;}
.magine-top-60px { margin-top:60px;}
.radio-btn { margin-left:-7px; margin-top:15px; float:left; margin-bottom:20px;}
.css-label {font-family: 'open_sansregular'; font-size:13px; margin-top:0px; float:right;}
.checkbox { float:left; width:20px!important; margin-right:10px; margin-left:-1px; margin-top:-10px;}
.checkbox-text { margin-top:5px!important; line-height:15px; text-indent:5px!important;}
.red-text { color:#fe1a00!important;}
.red-text:hover { text-decoration:underline;}
.font-13px-link { font-size:13px!important;}
.font-16px { font-size:16px;}
ul.tabs-link { float:left; width:100%; list-style:none; padding:0; border-bottom:1px solid #ebebeb; height:37px; margin-bottom:25px;}
ul.tabs-link li a { float:left; height:37px; border:1px solid #ebebeb; height:36px; background:url(../images/tabs-linkbg.jpg) bottom repeat-x ; line-height:36px; padding:0 20px; color:#464646; font-size:13px;font-family: 'open_sanssemibold'; text-decoration:none;}
ul.tabs-link li a:hover { background:#fff; border-bottom:1px solid #fff; color:#ff1a00;}
ul.tabs-link li a.active { background:#fff; border-bottom:1px solid #fff; color:#ff1a00;}
.right-border-none { border-right:0!important;}
.blue-text-semi-bold {font-family: 'open_sanssemibold'; color:#0080ff;}
.facebook-margin { margin-top:-20px!important;}
.forget-pass {color:#0080ff; text-decoration:none;}
.forget-pass:hover { text-decoration:underline}
.title-center { float:left; background:url(../images/login-border.jpg) center repeat-y; padding-top:115px; padding-bottom:115px;}
.title-center p { font-size:18px; font-style:italic; padding:7px 0; background:#fff; text-align:center;}
.crate-account { font-size:16px;font-family: 'open_sanssemibold'; }
.top-margine-10px { margin-top:40px;}
.blue-light { color:#49639f;}
.exceed-link  { color:#49639f; text-decoration:none}
.exceed-link:hover {text-decoration:underline}
.title-center2 { float:left; background:url(../images/login-border.jpg) 0 12px repeat-x; width:610px; margin-top:10px;}
.title-center2 p { font-size:18px; font-style:italic; text-align:center;}
.title-center2 p span { background:#FFF; padding:0px 7px;}
.red-text-normal { color:#ff0000;}
.date-col { float:left; width:75px;}
.date-col-month { width:100px; margin:0 15px;}
.date-col-year { width:80px;}
.filter { color:#0e76bc; font-size:14px;}
.blue-sub-header { margin:auto; width:100%; height:240px; background:#e5f2ff; margin-top:-45px; margin-bottom:30px;}
.table-box { float:left; width:100%; margin-top:-25px;}
table.table-classifieds-box { float:left; width:100%; margin-top:10px; border-bottom:1px solid #cccccc; margin-bottom:10px;}
table.table-classifieds-box tr { float:left; width:100%; background:url(../images/dotted-border.png)  top repeat-x;padding:7px 0;}
table.table-classifieds-box tr td { float:left; width:174px; color:#464646; font-size:13px; font-family: 'open_sansregular'; background:url(../images/table-td-arow.png) left no-repeat; padding-left:17px; }
table.table-classifieds-box tr td span { color:#027fff;}
table.table-classifieds-box tr:last-child {border: none;}
.font-15px { font-size:15px; color:#ff1a00; margin-bottom:0;}
.left-content-box { float:left; width:630px; }
.list-box-product { float:left; width:590px; border:1px solid #ebebeb; background:url(../images/gradint.jpg) top repeat-x; padding:25px 20px 15px 20px; border-radius:10px; margin-bottom:20px;}
.img-box-vic { float:left; width:150px;}
.img-box-vic img { border-radius:10px;}
.detils-main-col { float:left; width:420px; margin-left:20px;}
.detils-main-col ul { float:left; list-style:none; padding:0; margin-bottom:5px;}
.detils-main-col ul li { float:left; list-style:none; padding:0; color:#464646; font-size:12px; font-family: 'open_sansregular'; background:url(../images/time-arow.png) right no-repeat; padding-right:9px; margin-right:5px; }
.last-product { background:none!important; color:#0080ff!important;}
.detils-main-col p { font-size:13px; color:#464646; background:url(../images/dotted-border.png) bottom left repeat-x; padding-bottom:15px;}
.detils-main-col p span { font-size:15px; color:#ff1a00;}
.location-link { float:left; width:100%; margin:0; background: url(../images/dotted-border.png) top left repeat-x; padding:10px 0;}
.location-link p { font-size:12px; color:#464646; padding:0 7px 10px 0; font-family: 'open_sansregular'; margin-bottom:0;}
.location-link p a { font-size:12px; color:#464646; text-decoration:none;padding-right:3px;} 
.location-link p a:hover { text-decoration:underline;} 
.located-iocn { background:url(../images/located-iocn.png) left no-repeat; padding-left:17px; }
.backgorndnone { background:none!important}
.right-margine-cion { margin-left:5px; margin-top:-5px;}
.brand-box-expand { float:left; width:140px; margin-top:15px;}
.brand-box-expand p { float:left; font-size:14px; color:#464646; background:none; width:100%; padding-bottom:0!important}
.brand-box-expand p span {font-size:14px;font-family: 'open_sansbold'; color:#ff1a00;}
.margin-bottom-none { margin-bottom:0!important}
.sellers-box { float:left; width:100%; background:url(../images/seller-main-bg.png) top left no-repeat; height:1120px;}
.div-sellers-box { float:right; width:720px; margin-top:10px;}
.heading-stpes { color:#464646; font-size:16px;font-family: 'open_sansbold'; width:100%;}
.div-sellers-box p { float:left; width:100%; font-size:15px; color:#464646;font-family: 'open_sansregular'; }
.div-sellers-box p span { color:#ff1a00; font-size:25px;font-family: 'open_sanssemibold'; line-height:50px; margin-top:-5px; float:left; width:100%;}
.div-sellers-box ul { float:left; list-style:none; width:auto; padding:0; margin-left:20px;}
.div-sellers-box ul li { float:left; margin-bottom:5px; height:30px; line-height:30px;  width:100%; font-size:15px; color:#464646;font-family: 'open_sansregular'; }
.div-sellers-box ul li img { float:left; margin-right:10px;}
.steps-two { width:475px; margin-top:55px;}
.steps-three { margin-top:115px!important;}
.steps-four { margin-top:30px; width:475px;}
.start-selling-box { margin:auto; width:687px; height:152px;margin-top:40px; border:1px solid #0080ff; border-radius:10px; padding:15px 0px 0 25px;}
.start-selling-box h2 { color:#ff1a00; font-size:30px;font-family: 'open_sanssemibold'; float:left; width:100%; margin-bottom:10px;}
.sellers-field { width:317px; float:left;}
.border-radius { border-radius:10px;}
.start-sling-btn { margin:auto; width:231px; height:43px;margin-top:23px;}
.start-sling-btn a { float:left;width:231px; height:43px; background:url(../images/srart-selling.png) no-repeat;  display: inline-block;position: relative;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;  -webkit-transition-property: transform;transition-property: transform;-webkit-transform: translateZ(0); transform: translateZ(0);}
.start-sling-btn a:hover {-webkit-transform: translatey(-3px);transform: translatey(-3px);}
.big-heading { float:left; text-align:center; font-size:48px; font-family: 'open_sanslight'; width:100%; margin-top:50px;}
.big-heading strong { color:#ff1a00;font-family: 'open_sansbold';}
.readmore-title { width:425px; margin:auto; background:url(../images/border-1px.png) 0 12px repeat-x; height:50px; margin-top:25px; text-align:center; color:#0080ff;font-family: 'open_sansbold'; text-transform:uppercase;}
.readmore-title span { background:#FFF; padding:0 7px;}
.testimonials-box { margin:auto; width:900px; background:url(../images/testimonials-icon.png) center top no-repeat; padding-top:80px; margin-bottom:25px;}
.test-title { float:left; width:100%; text-align:center; color:#0080ff; font-size:11px;font-family: 'open_sanssemibold'; margin-top:30px;}
.test-title span { color:#898989; font-size:14px; text-transform:uppercase; font-family: 'open_sansregular';}


/**
 *==================================================================================================
 *ADDED BY DEVELOPER - BEGINS
 *==================================================================================================
 */

.thumbNailImages{  max-width: 225px; max-height: 255px;  }
.img-box-vic img{  max-width: 150px;  }
.detils-main-col p a{  text-decoration: none;  }
.detils-main-col p a:hover{  text-decoration: underline; color: #ff1a00; }
.pagenation{text-align: center; }
.pagenation ul{ display: inline-block; width:  auto;}
.pagenation ul li.current a{  color: #fff;  background-color: #0080ff;  }
.contact-form label.error{ color: #ff0000; font-size: 12px;  margin-top: -20px;}
div.facebook.loadingIcon{ display: none; }
.login-box{width:294px;}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.contact-form select {  padding-right: 30px; }
ul.locations-list li a.location-list-head{ float:left;color:#0080ff; font-size:15px;font-family: 'open_sanssemibold'; width:auto;border-bottom:none;  padding: 6px 0; }
.comments-box .right-caption a{ color: #ff1a00; font-family: 'open_sanssemibold';  text-decoration: none;}
.comments-box .right-caption a:hover{ text-decoration: underline; }
.blog-box-left.pagenation {  border: none;  padding-top: 0;}
.blog-box-left.pagenation ul li{ margin-bottom: 15px;}
.social-link-box ul li{ margin-right: 5px;}
.blog-content-box.wide{width: 95%;}
.blog-content-box.wide .link-by-admin{width: 100%;}
.blog-img-box.full {  float: none;  width: 95%;  display: inline-block;  }
.blog-img-box.full img{  float: none;  width: 100%; max-width: 550px;  display: inline-block;  }
/**
 *==================================================================================================
 *ADDED BY DEVELOPER - ENDS
 *==================================================================================================
 */