

html { overflow-y: scroll; }


.bigtext {
  display: block;
  overflow: hidden;
  color: #787878;
}

.expand, .contract {
  cursor: pointer;
  text-align:left;
  color: #ff1a00!important;
  width:100%;
  padding-top:10px;
  font-size:13px;
  font-family: 'open_sanssemibold';
    margin-bottom: 0;

}

.expand:hover, .contract:hover {
	text-decoration:underline;
}

.hide {
  display: none;
    margin-bottom: 0;

  
}
