@charset "utf-8";
/* CSS Document */

.dataTables_wrapper > .row{
	margin-bottom:10px !important;
}
.required{
	color:#b94a48 !important;
	font-weight:bold;
}
img.brandLogo {
    float: left;
    height: 53px;
    margin-left: 20px;
}
.column_layout .form-group input[type="text"], .column_layout .form-group textarea, .column_layout .form-group input[type="number"], .column_layout label{
    width: 80%;
}
.column_layout .control-group .chosen-container{
    min-width: 30%;
}
.column_layout .form-group, .column_layout .control-group {
    float: left;
    width: 50%;
    margin-bottom: 0;
    min-height: 85px;
}
#datatable_list_filter input[type="search"]{
    margin-left: 5px;
}
.control-group {
    min-height: 40px;
}